@CHARSET "UTF-8";

// Landscape phones and down
@media (max-width: 480px) {
	
}
 
  // Landscape phone to portrait tablet
@media (max-width: 768px) {
	
}
 
  // Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 980px) {
	
}
 
  // Large desktop
@media (min-width: 1200px) {
	
}

@media (min-width: 10px) {
	#body {
		// max-width: 980px !important;
		min-width: 50px;
	}
}

.section {
	
}

.section > div {
	margin: 0 auto;
	width: 90%;
	height: 220px;
	overflow: hidden;
	text-align: center;
}

.section > div > div {
	float: left;
	text-align: left;
}

.section .main_item, .section .secondary_item {
	text-align: left;
}

.section .main_item {
	display: inline-block;
	float: left;
	width: 700px;
	margin: 7px 5px 10px 5px;
	height: 190px;
	overflow: hidden;
}

.section .main_item img {
	width: 180px;
	float: left;
	margin: 5px;
	border-radius: 10px;
}


.section .secondary_item {
	display: inline-block;
	width: 37%;
	margin: 3px 0 0 0;
	height: 100px;
	overflow: hidden;
}

@media (min-width: 1600px) {
		.section .secondary_item {
			width: 18% !important;
		}
}

.section .secondary_item h2 {
	font-size: 15px;
	line-height: 17px;
	padding-top: 10px;
}

.section .secondary_item img {
	width: 90px;
	float: left;
	margin: 5px;
	margin: 10px 5px 0 0;
	border-radius: 5px;
}

.section .secondary_item div {
	height: 40px;
	overflow: hidden;
}

#home_carousel, #home_carousel .item {
	height: 400px;
	width: 980px;
	text-align: left;
	margin: 0 auto;
	background-color: white;
}

#home_carousel_outer {
	background-color: #eee;
	margin: 20px 0 20px 0;
}

#home_search {
	height: 300px;
	margin: 10px;
	border-radius: 10px;
	padding: 20px;
	background-image: linear-gradient(bottom, rgb(217,246,255) 22%, rgb(150,210,255) 61%, rgb(0,193,247) 83%);
	background-image: -o-linear-gradient(bottom, rgb(217,246,255) 22%, rgb(150,210,255) 61%, rgb(0,193,247) 83%);
	background-image: -moz-linear-gradient(bottom, rgb(217,246,255) 22%, rgb(150,210,255) 61%, rgb(0,193,247) 83%);
	background-image: -webkit-linear-gradient(bottom, rgb(217,246,255) 22%, rgb(150,210,255) 61%, rgb(0,193,247) 83%);
	background-image: -ms-linear-gradient(bottom, rgb(217,246,255) 22%, rgb(150,210,255) 61%, rgb(0,193,247) 83%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.22, rgb(217,246,255)),
		color-stop(0.61, rgb(150,210,255)),
		color-stop(0.83, rgb(0,193,247))
	);
}
